@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

:root {
	/* Your default theme */
	--background: white;
	--foreground: black;
  }
  
  [data-theme='dark'] {
	--background: black; /* #22232a */
	--foreground: white;
  }

body {
position: relative;
  color: white;
  background: black
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cp{
	cursor: pointer;
}

@keyframes sticky-parallax-header-move-and-size {
	from {
		top: 1rem;
		width: 100vw;
		font-size: 20px;
		/* border: 1px solid black; */
		opacity: 0;
	}
	to {
		top: 1rem;
		width: 40vw;
		font-size: 14px;

		opacity: 1;
	}
}

#sticky-parallax-header {
	position: fixed;
	top: 4;

	animation: sticky-parallax-header-move-and-size linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

#scroll-icon {
	animation: scroll-icon 1.8s ease infinite;
}

@keyframes scroll-icon {
    0%{
        opacity: 0;
        transform: translate(-0px,-10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0px,50px);
    }
}

:root {
	--card-height: 40vw;
	--card-margin: 7vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}

@supports (animation-timeline: view()) {
	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
		}
	}

	#cards {
		--numcards: 4;
		view-timeline-name: --cards-element-scrolls-in-body;
	}

	.card__content {
		--start-range: calc(var(--index0) / var(--numcards) * 100%);
		--end-range: calc((var(--index)) / var(--numcards) * 100%);

		animation: linear scale forwards;
		animation-timeline: --cards-element-scrolls-in-body;
		animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
	}
}

#cards {
	/* Make place at bottom, as items will slide to that position*/
	padding-bottom: calc(var(--numcards) * var(--card-top-offset));
	/* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
	margin-bottom: var(--card-margin);
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset) + 3em);
}

.card__content {
	transform-origin: 50% 0%;
	will-change: transform;
}

/** DEBUG **/

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}


/** PAGE STYLING **/

main * { /* Poor Man's Reset */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	/* color: rgb(255, 255, 255); */

	font-size: calc(1em + 0.5vw);
}

header,
main {
	width: 80vw;
	margin: 0 auto;
	text-align: center;
}

header {
	height: 100vh;
	display: grid;
	place-items: center;
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid hotpink;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid lime;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid blue;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main h1 {
	font-weight: 300;
	font-size: 3.5em;
}

main h2 {
	font-weight: 300;
	font-size: 2.5em;
}

main p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
}

aside {
	width: 50vw;
	margin: 0 auto;
	text-align: left;
}

aside p {
	margin-bottom: 1em;
}

/* Position warning box */
.warning {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	width: max-content;
	text-align: center;
	max-width: 90vw;
	margin: auto;
	z-index: 2;
	font-size: 0.8em;
	color: #333;
}

.revealing-image {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 0% cover 25%;
}

@keyframes reveal {
	from {
		opacity: 1s;
		clip-path: inset(0% 20% 0% 20%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}

.revealing-image-from-left {
	/* Create View Timeline */
	view-timeline-name: --revealing-image-from-left;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal-from-left both;
	animation-timeline: --revealing-image-from-left;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 25%;
}

@keyframes reveal-from-left {
	from {
		opacity: 0;
		transform: translate(200px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

.revealing-image-from-right {
	/* Create View Timeline */
	view-timeline-name: --revealing-image-from-right;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal-from-right both;
	animation-timeline: --revealing-image-from-right;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 25%;
}

@keyframes reveal-from-right {
	from {
		opacity: 0;
		transform: translate(-200px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

.revealing-image-from-top {
	/* Create View Timeline */
	view-timeline-name: --revealing-image-from-top;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal-from-top both;
	animation-timeline: --revealing-image-from-top;

	/* Tweak range when effect should run*/
	animation-range: entry 60% cover 60%;
}

@keyframes reveal-from-top {
	from {
		opacity: 0;
		transform: translate(0px, -200px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

.revealing-image-from-bottom {
	/* Create View Timeline */
	view-timeline-name: --revealing-image-from-bottom;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal-from-bottom both;
	animation-timeline: --revealing-image-from-bottom;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 25%;
}

@keyframes reveal-from-bottom {
	from {
		opacity: 0;
		transform: translate(0px, 200px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}

:root {
    --translate-distance: 150px; /* Default distance for desktop */
}

@media (max-width: 600px) {
    :root {
        --translate-distance: 150px; /* Distance for phone */
    }
}


.circle {
    position: relative;
}

.item {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate-items 20s linear infinite;
}

.item:nth-child(1) { 
    transform: rotate(0deg) translate(var(--translate-distance)) rotate(0deg); 
    animation-delay: 0s; 
}
.item:nth-child(2) { 
    transform: rotate(51.43deg) translate(var(--translate-distance)) rotate(-51.43deg); 
    animation-delay: -2.8571s; 
}
.item:nth-child(3) { 
    transform: rotate(102.86deg) translate(var(--translate-distance)) rotate(-102.86deg); 
    animation-delay: -5.7143s; 
}
.item:nth-child(4) { 
    transform: rotate(154.29deg) translate(var(--translate-distance)) rotate(-154.29deg); 
    animation-delay: -8.5714s; 
}
.item:nth-child(5) { 
    transform: rotate(205.71deg) translate(var(--translate-distance)) rotate(-205.71deg); 
    animation-delay: -11.4286s; 
}
.item:nth-child(6) { 
    transform: rotate(257.14deg) translate(var(--translate-distance)) rotate(-257.14deg); 
    animation-delay: -14.2857s; 
}
.item:nth-child(7) { 
    transform: rotate(308.57deg) translate(var(--translate-distance)) rotate(-308.57deg); 
    animation-delay: -17.1429s; 
}

@keyframes rotate-items {
    0% {
        transform: rotate(0deg) translateX(var(--translate-distance)) rotate(0deg);
    }
    14.29% {
        transform: rotate(51.43deg) translateX(var(--translate-distance)) rotate(-51.43deg);
    }
    28.57% {
        transform: rotate(102.86deg) translateX(var(--translate-distance)) rotate(-102.86deg);
    }
    42.86% {
        transform: rotate(154.29deg) translateX(var(--translate-distance)) rotate(-154.29deg);
    }
    57.14% {
        transform: rotate(205.71deg) translateX(var(--translate-distance)) rotate(-205.71deg);
    }
    71.43% {
        transform: rotate(257.14deg) translateX(var(--translate-distance)) rotate(-257.14deg);
    }
    85.71% {
        transform: rotate(308.57deg) translateX(var(--translate-distance)) rotate(-308.57deg);
    }
    100% {
        transform: rotate(360deg) translateX(var(--translate-distance)) rotate(-360deg);
    }
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

:root {
	--shadow-color: 48deg 85% 36%;
	--shadow-elevation-low:
	  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
	  0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
	  1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
	--shadow-elevation-medium:
	  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
	  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
	  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
	  5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
	--shadow-elevation-high:
	  0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
	  1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
	  2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
	  4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
	  7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
	  11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
	  17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
	  25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

.layered-shadow-sm{
	box-shadow: var(--shadow-elevation-low);
}

.layered-shadow-md{
	box-shadow: var(--shadow-elevation-medium);
}

.layered-shadow-lg{
	box-shadow: var(--shadow-elevation-high);
}

.fancy-button {
	box-shadow: var(--shadow-elevation-medium);
	transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.fancy-button:hover{
	/* transform: scale(1.05); */
	box-shadow: var(--shadow-elevation-high);
}

:root {
	--shadow-color-nt: 0deg 0% 0%;
	--shadow-elevation-nt-low:
	  0.3px 0.5px 0.7px hsl(var(--shadow-color-nt) / 0.1),
	  0.4px 0.8px 1px -1.2px hsl(var(--shadow-color-nt) / 0.1),
	  1px 2px 2.5px -2.5px hsl(var(--shadow-color-nt) / 0.1);
	--shadow-elevation-nt-medium:
	  0.3px 0.5px 0.7px hsl(var(--shadow-color-nt) / 0.11),
	  0.8px 1.6px 2px -0.8px hsl(var(--shadow-color-nt) / 0.11),
	  2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color-nt) / 0.11),
	  5px 10px 12.6px -2.5px hsl(var(--shadow-color-nt) / 0.11);
	--shadow-elevation-nt-high:
	  0.3px 0.5px 0.7px hsl(var(--shadow-color-nt) / 0.1),
	  1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color-nt) / 0.1),
	  2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color-nt) / 0.1),
	  4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color-nt) / 0.1),
	  7.1px 14.3px 18px -1.4px hsl(var(--shadow-color-nt) / 0.1),
	  11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color-nt) / 0.1),
	  17px 33.9px 42.7px -2.1px hsl(var(--shadow-color-nt) / 0.1),
	  25px 50px 62.9px -2.5px hsl(var(--shadow-color-nt) / 0.1);
  }


.layered-shadow-nt-sm{
	box-shadow: var(--shadow-elevation-nt-low);
}

.layered-shadow-nt-md{
	box-shadow: var(--shadow-elevation-nt-medium);
}

.layered-shadow-nt-lg{
	box-shadow: var(--shadow-elevation-nt-high);
}

.box {
	/* 1. inner glow - for dark mode 👇 */
box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1),
	/* 2. shadow ring 👇 */
	0 0 0 1px hsla(230, 13%, 9%, 0.075),
	/* 3. multiple soft shadows 👇 */
	0 0.3px 0.4px hsla(230, 13%, 9%, 0.02),
	0 0.9px 1.5px hsla(230, 13%, 9%, 0.045),
	0 3.5px 6px hsla(230, 13%, 9%, 0.09);
	/* background-color: hsl(233, 8%, 19%);; */
	border-radius: 12px;
}

.parent {
	position: relative;
	z-index: 1;
	border-radius: 100%;
	box-shadow: 0px 10px 100px 25px #28283d;
}
.child {
	display: flex;
	width: 200px;
	height: 200px;
	background: #0e0ec7;
	border-radius: 100%;
}
.child::after {
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 20px 25px -5px #000, 0 8px 10px -6px #000;
	z-index: -1;
}

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .container .glass {
	position: relative;
	/* width: 180px;
	height: 200px; */
	background: linear-gradient(#fff2, transparent);
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	border-radius: 10px;
	margin: 0 -45px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	/* transform: rotate(calc(var(--r) * 1deg)); */
  }
  
  @media (hover: hover) and (pointer: fine) {
	.container:hover .glass {
	  transform: rotate(0deg);
	  margin: 0 10px;
	}
  }
  
  .container .glass::before {
	content: attr(data-text);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: rgba(255, 255, 255, 0.05);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
  }
  .container .glass svg {
	font-size: 2.5em;
	fill: #fff;
  }
  